@media screen and (max-width: 550px) {
/*#Scenarios {
    position: absolute;
    left: 150px;
}
#AuroraWrapper {
    width: 100%;
}
#AuroraCentered {
    display: block;
}
#AuroraCentered > DIV {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
#BrightnessSlider {
    height: 200px;
    float: left;
    left: 80px;
}
.container {
    left: 80px;
    position: relative;
}*/

}
